body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.welcome {
  background-image: url("canvas.png");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.logout {
  background-image: url("logout.jpg");
  height: 820px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.link {
  position: relative;
  margin: 60px;
  top: 20px;
  color: white;
  font-size: 0.8em;
}

.link:hover {
  color: black;
}


.nav {
  top: 0px;
  background-color: #79a0e0;
  opacity: 0.7;
  margin-top: 0px;
  height: 60px;
}

.homeDiv {
  position: relative;
  margin-top: 0px;
  height: 550px;
  background-image: url("canvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.profileDiv {
  background-color: #b3caef;
  background-size: cover;
  height: 900px;
}

.nav {
  text-align: center;
}



h1, h3 {
  text-align: center;
  font-size: 2em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.SearchBar {
 width: 30%;
 position: absolute;
 top: 75%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.username {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.password {
  width: 30%;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registerButton {
  width: 30%;
  position: absolute;
  background-color: #79a0e0;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logoutButton {
  width: 20%;
  position: absolute;
  background-color: #79a0e0;
  opacity: 0.8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deleteButton {
  width: 80px;
  height: 30px;
  border-radius: 10em;
  position: absolute;
  background-color: #79a0e0;
  opacity: 0.8;
  top: 92%;
  left: 16%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.logoutButton:hover, .registerButton:hover, .searchButton:hover, .addButton:hover, .deleteButton:hover {
  background-color: #4d7fd1;
  cursor: pointer;
}

input {
  right: 100%;
  width: 100%;
  border: 2px solid #79a0e0;
  padding: 5px;
  height: 34px;
  border-radius: 5px;
  outline: none;
}

::-webkit-input-placeholder {
   text-align: center;
   font-size: 1.5em;
}

.searchButton, .addButton {
  position: absolute;
  right: -55px;
  width: 50px;
  height: 34px;
  border: 1px solid black;
  opacity: 0.9;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

ul {
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
  padding-top: 0px;
}

.profileList {
  position: absolute;
  left: 2%;
  top: 20%;
}


h5 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.loginRegister{
  position: relative;
  margin-top: 0px;
  height: 820px;
  background-image: url("collage4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.welcomeBack {
  background-color: #b3caef;
  height: 820px;
}
